<layout-use template="./defaults/default.marko" show-header="$true">
    <layout-put into="title">Dronestreamer</layout-put>

    <layout-put into="body">
		<div class="container">
			<h1>Dronestreamer</h1>
			<p class="lead">Data visualizations of drone devastation</p>
			<p>Data provided by <a href="http://dronestre.am">dronestre.am</a>
		</div>
	</layout-put>
</layout-use>