<!doctype html>
<html lang="en">
	<head>
		<layout-placeholder name="head"/>
		<meta charset="UTF-8" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta itemprop="description" name="Description" content="Dronestre.am Data Visualizations">

		<!-- Bootstrap -->
		<link href="css/default.css" rel="stylesheet" />

		

		<title><layout-placeholder name="title"/> - Dronestreamer</title>
	</head>
	<body>
		<div id="body">
			<div class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a href="../" class="navbar-brand">Dronestreamer</a>
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="navbar-collapse collapse" id="navbar-main">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/deaths-by-country">Deaths By Country</a></li>
							<li><a href="/table">Table</a></li>
						</ul>

					</div>
				</div>
			</div>

			<layout-placeholder name="body"/>
		</div>


		
		<layout-placeholder name="footer">
			<footer>
				<small>Devneel Vaidya 2015</small>
			</footer>
		</layout-placeholder>
		
		<layout-placeholder name="js" />
	</body>
</html>